<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Number Game</title>
	</head>
	<body>
		<div class="container">


			<div class="row">
				<h1 class="twelve columns">Welcome to the Great Number Game!</h1>
			</div>
			<div class="row">
				<h2 class="eight columns offset-by-three">I am thinking of a number between 1 - 100...</h2>
			</div>

			<div class="row">
				<!-- this is where the flaskBox will go! -->
				<div class="{{ session['response'] }} five columns offset-by-three text-center">
					<h2>{{ session['response'] }}</h2>
				</div>
			</div>






			<form action="/logic" method="post">

				<div class="row">
					<input class="five columns offset-by-three guess" type="text" name="guess" placeholder="Take a guess..." id="guess">
				</div>

				<div class="row">
					<input class="three columns offset-by-four btn" type="submit" name="btn" value="Guess!">
				</div>

			</form>
		</div>
	</body>
</html>
