<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dissapering Ninja</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'first_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'first_app/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'first_app/css/normalize.css' %}">
  </head>
  <body>

    <div class="container">
      <img src="{% static 'first_app/images/'%}{{img}}" alt="All Ninja">
  </div>

  </body>
</html>
